.indicators {
  bottom: 2rem;
  position: absolute;
  width: 100%;
  z-index: 30;
  li {
    margin: 0 0.25rem !important;
    button::before {
      background-color: white !important;
    }
  }
}

.px-14 {
  @media (max-width: 980px) {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.nav-main {
  padding-bottom: 0.25rem;
  &:hover {
    color: currentColor;
    border-bottom: 3px solid currentColor;
  }
}

#servicios {
  background-image: url(./images/bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

input,
textarea {
  background-color: $color-primary;
}

input::placeholder,
textarea::placeholder {
  color: white;
}

.title-primary {
  display: inline-block;
  position: relative;
  &::after {
    content: "";
    display: block;
    width: 50px;
    height: 3px;
    background-color: currentColor;
    margin-top: 0.5rem;
    text-align: right;
    position: absolute;
    right: 0;
  }
}

.title-primary-left {
  display: inline-block;
  position: relative;
  &::after {
    content: "";
    display: block;
    width: 50px;
    height: 3px;
    background-color: currentColor;
    margin-top: 0.5rem;
    text-align: right;
    position: absolute;
  }
}

.icons {
  svg {
    @media (max-width: 980px) {
      height: 50%;
    }
  }
}

.logo {
  svg {
    @media (max-width: 980px) {
      width: 64px;
    }
  }
}
